body{
  background-color: #ccffff;
}

h1{
  font-family: cursive;
  color: #ffccff;

}

h2{
  font-family: cursive;
}

.likes{
  float: left;
  width: 50%;
}

.dislikes{
  float: right;


}

.photo{
  float: left;
  width: 50%;
}
